<div class="session-form">
<h1>kogotoログイン</h1>
    <%= form_with scope: :session, local: true do |f| %>
        <div class='email'>
            <%= f.label :email %>
            <%= f.text_field :email, id: 'session_email' %>
        </div>
        <div class='password'>
            <%= f.label :password %>
            <%= f.password_field :password, id: 'session_password' %>
         <%= f.submit 'ログインする' %>
        </div>
    <% end %>

    <div class="test-user">
    <p>test-userでのログイン</p>
    <p>M test@test.com</p>
    <p>P testtest</p>
    </div>
</div>