<% if user.errors.present? %>
    <ul>
        <%= user.errors.full_messages.each do |message| %>
         <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<div class= "text_area">
    <%= form_with model:@user, local: true do |f| %>
        <p>ユーザー名</p>
            <%= f.label :name %>
            <%= f.text_field :name, class: 'area' %>
        <P>メールアドレス</P>
            <%= f.label :email %>
            <%= f.text_field :email, class: 'area' %>
        <div class="pass">
        <p>パスワード</p>
            <%= f.label :password %>
            <%= f.password_field :password, {id: 'session_password2',class: 'area'} %>
        </div>
        <div class="passcon">
        <p class="passkaku">パスワード（確認）</p>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, {id: 'session_passwordconfir',class: 'area'} %>
        </div>
        <%= f.submit '更新する', class: 'btn btn-primary' %>
    <% end %>
</div>