<% if post.errors.present? %>
    <ul>
        <%= post.errors.full_messages.each do |message| %>
         <li><%= message %></li>
        <% end %>
    </ul>
<% end %>
<div class="text_area">
    <%= form_with model: post, local: true do |f| %>
        <%= f.label :text  %>
        <%= f.text_area :text, {id: 'text_area', class: 'area'} %>
        <%= f.submit '投稿' %>
    <% end %>
</div>