<% if post.errors.present? %>
    <ul>
        <%= post.errors.full_messages.each do |message| %>
         <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with model: post, local: true do |f| %>
    <%= f.label :text, 'kogoto' %>
    <%= f.text_area :text, id: 'text_area' %>
    <%= f.submit '投稿' %>
<% end %>