<!DOCTYPE html>
<html>
  <head>
    <title>Ryo1App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <h1 class="logo"><%= link_to 'kogoto', "/posts", {class: "b"} %></h1>
      <nav class="global-nav">
        <ul>

            <li class="nav-item active"><%= link_to 'home', "/posts", {class: "a"} %></li>
            <li class="nav-item"><%= link_to 'new', "/posts/new", {class: "a"} %></li>
            <!-- ログアウト、user作成 -->

        </ul>
      </nav>
    </header>
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <div class="wrappper">
        <main class="main">
          <%= yield %>
        </main>
      </div>
      <div class="fotter">
      </div>
  </body>
</html>
